<html lang="en-gb">
<link rel="stylesheet" href="/css/app.css">

<header class='head'>
    <h1>MyFace</h1>
<nav class='navbar'>
    <%- include('_head') -%>
    <%- include('_header') -%> 
</nav>
</header>

<body class='content'>
    <% results.forEach(function(post) {%>
        <div class ='container'>
        <div class='postHeader'>
                <p>Posted by: <%= post.postedBy.name %>
                </p>

                <p class='date'>On: <%= post.createdAt %>
                </p>
            </div>


            <div>
                <img class='responsive' src='<%= post.imageUrl %>'>
            </div>


            <div class='comment'>
                <p>
                    <%= post.message %>
                </p>
            

                <div class='buttonContainer'>
                <div class='LikeDislikeButton'>
                    <%= post.likedBy.length %>
                        <form method="post" action='/posts/<%=post.id%>/like/'>
                            <button class="button" type="submit">Like</button>
                        </form>
                </div>
                <div class='LikeDislikeButton'>
                    <%= post.dislikedBy.length %>
                        <form method="post" action='/posts/<%=post.id%>/dislike/'>
                            <button class="button" type="submit">Dislike</button>
                        </form>
                </div>
               </div>
            </div>
            </div>

        <% }); %>


            <button type="submit" class='postButton'>
                <a href='/posts/create'>Create a Post</a>
            </button>
</body>


<footer>
    <button type="submit" class='pageButton'>
        <%if (next) { %>
            <a href="<%= next %>">Next</a>
            <% } %>
    </button>

    <%if (previous) { %>
    <button type="submit" class='pageButton'>
            <a href="<%= previous %>">Previous</a>
        
    </button>
    <% } %>
    <%- include('_footer') -%>
</footer>


</html>